.header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* height: 10em; */
  background-color: #7A6A5B;
  background-image: url('https://www.transparenttextures.com/patterns/subtle-carbon.png ');
  color: #FFFFFF;
  
  /* font-size: 1.7em;
  font-weight: 400; */
}

header div {
  display: flex;
  justify-content: center;
}

/* header img {
  max-width: 80%;
} */

header span:hover {
  color: #C2C4BF;
}

