header#header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 80px;
  height: 10em;
  background-color: #067BC2;
  /* background-image: url('https://www.transparenttextures.com/patterns/iron-grip.png'); */
  background-image: url('https://www.transparenttextures.com/patterns/skulls.png');
  
  color: #FFFFFF;
  font-size: 1.7em;
  font-weight: 400;
}

header div {
  display: flex;
  justify-content: center;
}

header img {
  max-width: 80%;
}

