nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  height: 80px;
  background-color: #04436A;
  color: #ffffff;
  padding: 1.5em;
}

#logo {
  font-family: 'Bungee', sans-serif;
  font-size: 2.75em;
}

#navbox {
  display: flex;
  flex-direction: column;
  font-size: 1.4em;
  align-items: center;
  margin-top: .75em;
}

span:hover {
  color: #067BC2;
}

nav i {
  color: #F37748
}

nav i:hover {
  color: #067BC2;
}
