.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  background-color: #292623;
  color: #ffffff;
  font-size: 28px;
}

.nav span {
  font-size: .5em;
}

#logo {
  font-family: 'Bungee', sans-serif;
  font-size: 1.4em;
}

#logo:hover {
  color: #F0057A;
}

#navbox {
  display: flex;
  flex-direction: column;
  font-size: 1.4em;
  align-items: center;
}
/* 
span:hover, nav i:hover {
  color: #C2C4BF;
} */

  nav i {
    font-size: .5em;
  }
