nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  /* height: 120px; */
  height: 80px;
  /* background-color: #3D395D; */
  background-color: #665a66;
  color: #FAE8EB;
  padding: 1.5em;
}

#logo {
  font-family: 'Bungee', sans-serif;
  font-size: 2.75em;
}

#navbox {
  display: flex;
  flex-direction: column;
  font-size: 1.4em;
  align-items: center;
  margin-top: .75em;
}

span:hover {
  color: #E4C2C6;
}


nav i {
  color: #FAE8EB
}

nav i:hover {
  color: #E4C2C6;
}
