button {
  padding: .25em .5em;
  margin: .5em 0;
  font-family: 'Bungee', sans-serif;
  background: #F37748;
  border: 0;
  border-radius: 5px;
  color: #ffffff;
}

button:hover {
  background-color: #067BC2;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

label {
  display: none;
}

textarea {
  width: 100%;
  border: 0;
  border-bottom: 5px solid #84BCDA;
  font-size: 1.5em;
}

textarea:focus-visible {
  outline: none;
}

form div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2px;
  align-items: flex-end;
}

form span {
  font-family: 'Bungee', sans-serif;
  margin: .5em 0;
  color: #04436A;
}

.red {
  color: #F46197;
}

.hidden {
  display: none;
}

.error {
  display: block;
  background: #F37748;
  color: #ffffff; 
  opacity: 0.8;
  padding: .25em;
  border: 1px solid #F37748;
  border-radius: 5px;
  margin-bottom: .75em;
}