button, button:visited {
  padding: .25em .5em;
  margin: .5em 0;
  font-family: 'Bungee', sans-serif;
  background: #F0057A;
  border: 0;
  border-radius: 5px;
  color: #ffffff;
}

button:hover {
  background-color: #7A6A5B;
  border: none;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 100%; */
  /* margin-top: 2vh; */
}

label {
  display: none;
}

textarea {
  width: 100%;
  border: 0;
  border-bottom: 5px solid #E0E6DA;
  font-size: 1.5em;
}

textarea:focus-visible {
  outline: none;
}

form div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2px;
  align-items: flex-end;
}

form span {
  font-family: 'Bungee', sans-serif;
  margin: .5em 0;
  color: #C2C4BF;
}

.red {
  color: #F0057A;
}

.hidden {
  display: none;
}

.error {
  display: block;
  background: #F0057A;
  color: #ffffff; 
  opacity: 0.8;
  padding: .25em;
  border: 1px solid #F0057A;
  border-radius: 5px;
  margin-bottom: .75em;
}