button {
  padding: .25em .5em;
  margin: .5em 0;
  font-family: 'Bungee', sans-serif;
  /* background-color: #3D395D; */
  background: #d8d4c6;
  border: 0;
  border-radius: 5px;
  color: #f4f1ec;
}

button:hover {
  background-color: #f5b2d9;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

label {
  display: none;
}

textarea {
  width: 100%;
  border: 0;
  border-bottom: 5px solid #d8d4c6;
  font-size: 1.5em;
}

form div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2px;
  /* border: 5px solid red; */
  align-items: flex-end;
}

form span {
  font-family: 'Bungee', sans-serif;
  margin: .5em 0;
}

.red {
  color: red;
}