article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  margin-top: 1.75em;
  font-size: 1.6em;
  border: 3px solid #84BCDA;
  border-radius: 10px;
}

article:hover {
  border: 3px solid #84BCDA;
  box-shadow: 3px 3px #067BC2;
  border-radius: 10px;
}

article header {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  padding: 10px 10px;
}

article header a:link, article header a:visited {
  color: #84BCDA;
}

article header a:hover {
  color: #04436A;
}

article img {
  max-width: 3em;
  margin-right: .25em;
}

article div {
  display: flex;
  align-items: center;
  padding: 0px 5px;
}

article p {
  margin-bottom: .2em;
  padding-left: .2em;
}

article span:hover {
  color: #067BC2;
}

article footer {
  display: flex;
  padding: 0em 2.5em 1em;
  justify-content: space-between;
  font-size: .5em;
  font-weight: 600;
  }

article i {
  margin: 2px;
  color: #84BCDA;
}

article i:hover {
  color: #067BC2;
}
