article.twiit {
  max-width: 100%;
  margin-top: 3vh;
  border: 3px solid #E0E6DA;
  border-radius: 10px;
  background-color: #ffffff;
}

article:hover {
  box-shadow: 3px 3px #E0E6DA;
  border-radius: 10px;
}

article.twiit header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  padding: 5px;
  padding-top: 20px;
}

article.twiit header div {
  align-items: center;
  margin: 0px 10px;
}

article.twiit header img {
  max-width: 40px;
}

div.twiit {
  max-width: 98%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  font-size: 1.5em;
  overflow-wrap: break-word;
}

article.twiit footer {
  display: flex;
  justify-content: space-between;
  max-width: 98%;
  margin: 0 auto;
  font-size: .75em;
  font-weight: 600;
  padding: 8px;
  }
